!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    = favicon_link_tag 'favicon.ico'
    %title= yield(:title) || 'SV test application'
    / Bootstrap core CSS
    = stylesheet_link_tag "sessions", media: "all", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .container
      = yield
